{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Параметры{% endblock title %}
{% block page_title %}Параметры{% endblock page_title %}

{% block content %}
<section>
	<form action="/params/" method="POST">
		{% csrf_token %}
		<fieldset>
			<legend>Информация об организации</legend>
			{% for field in form %}
			<div class="form-field">
				<label for="{{ field.name }}"><span>{{ field.label }}</span></label>
				<!-- <input class="form-input-text" id="{{ field.name }}" name="{{ field.name }}" type="{{ field.field.widget.input_type }}" value="{{ field.value }}" required /> -->
				 {% render_field field class="form-input-text" id=field.name %}
			</div>
			{% endfor %}
		</fieldset>

		<div class="form-btns">
			<input class="btn" type="submit" value="Ок"/>
			<button class="btn cancel-btn" onclick="page_reload(event)">Отмена</button>
		</div>
	</form>
</section>
{% endblock content %}
