{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="{% static 'css/style.css' %}" />

		<title>{% block title %}{% endblock %} - Менеджер проектов</title>

		{% block header %}{% endblock header %}
	</head>
	<body>
		<header>
			<a href="/">Менеджер проектов</a>
			<a class="left-btn" href="/params">{{ company.name }}</a>
		</header>

		<main class="centered">
			<h1>{% block page_title %}{% endblock page_title %}</h1>
			{% block content %}{% endblock %}
		</main>

		{% block footer %}{% endblock footer %}
		<script src="{% static 'js/main.js' %}"></script>
	</body>
</html>