{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}{{ action_name }}{% endblock title %}
{% block page_title %}{{ reg_name }} - {{ action_name }}{% endblock page_title %}

{% block content %}
<section>
	<form action="" method="POST">
		{% csrf_token %}
		<fieldset>
			{% if message %}
				<span class="message">{{ message }}</span>
			{% endif %}
			<legend>Информация</legend>
			{% for field in form %}
			<div class="form-field">
				<label for="{{ field.name }}"><span>{{ field.label }}</span></label>
				{% render_field field class="form-input-text" id=field.name %}
			</div>
			{% endfor %}
		</fieldset>
		<div class="form-btns">
			<input class="btn" type="submit" value="Ок"/>
			<button class="btn btn-cancel">Отмена</button>
		</div>
	</form>
</section>
{% endblock content %}