{% extends "base.html" %}
{% load static %}

{% block title %}Оборудование{% endblock title %}
{% block page_title %}Оборудование{% endblock page_title %}

{% block content %}
<section>
	<div class="toolbar">
		<a id="btn-create" href="create">Создать</a>
		<a class="disabled" id="btn-edit" href="/">Изменить</a>
		<a class="disabled" id="btn-delete" href="/">Удалить</a>
	</div>
	<table>
		<tr class="table-header">
			<th><input id="select-all-checkbox" type="checkbox"/></th>
			<th>Название</th>
			<th>Тип приобретения</th>
			<th>Эксплуатационная стоимость</th>
			<th>Единица измерения</th>
			<th>Стоимость услуг за ед. измерения</th>
		</tr>

		{% for device in hardware %}
		<tr class="{% if forloop.counter|divisibleby:2 %}tr-even{% else %}tr-odd{% endif %}">
			<td><input class="field-checkbox" type="checkbox" data-id="{{ device.id }}"/></td>
			<td>{{ device.name }}</td>
			<td>{{ device.get_purchase_type }}</td>
			<td>{{ device.operating_cost }} руб.</td>
			<td>{{ device.get_unit }}</td>
			<td>{{ device.unit_cost }} руб.</td>
		</tr>
		{% endfor %}	
	</table>
</section>
{% endblock content %}

{% block footer %}
<script src="{% static 'js/table-toolbar.js' %}"></script>
{% endblock footer %}