{% extends "base.html" %}
{% load static %}

{% block title %}Сотрудники{% endblock title %}
{% block page_title %}Сотрудники{% endblock page_title %}

{% block content %}
<section>
	<div class="toolbar">
		<a id="btn-create" href="/">Создать</a>
		<a class="disabled" id="btn-edit" href="/">Изменить</a>
		<a class="disabled" id="btn-delete" href="/">Удалить</a>
	</div>
	<table>
		<tr class="table-header">
			<th><input id="select-all-checkbox" type="checkbox"/></th>
			<th>ФИО</th>
			<th>Должность</th>
			<th>Заработная плата (в месяц)</th>
			<th>Расчётная налоговая ставка</th>
		</tr>

		{% for employee in staff %}
		<tr class="{% if forloop.counter|divisibleby:2 %}tr-even{% else %}tr-odd{% endif %}">
			<td><input class="field-checkbox" type="checkbox" data-id="{{ employee.id }}"/></td>
			<td>{{ employee.name }}</td>
			<td>{{ employee.position }}</td>
			<td>{{ employee.salary }} руб.</td>
			<td>{{ employee.tax_rate }}%</td>
		</tr>
		{% endfor %}	
	</table>
</section>
{% endblock content %}

{% block footer %}
<script src="{% static 'js/table-toolbar.js' %}"></script>
{% endblock footer %}