
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

* {
	font-family: "Open Sans";
}

html, body {
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	background-color: #548696;
	padding: 20px;
}

header a {
	color: white;

	font-size: larger;
	font-weight: 600;
	
	text-decoration: none;
}

.left-btn {
	float: right;
	margin-left: 20px;
}

.nav-block {
	display: grid;
	grid-template-columns: 250px 1fr;
	height: 100vh;
}

aside {
	border-right: solid 1px #5485965d;
	/* box-shadow: 1px 0 50px #5485965b; */
}

aside ul {
	padding: 0;
}

aside ul li {
	display: block;
}

aside a {
	transition: 100ms;
	display: block;
	padding: 10px 20px;
	width: auto;

	text-decoration: none;
	color: black;
}

aside a:hover {
	transition: 100ms;
	background-color: #5485965d;
}

main {
	padding: 26px;
	background-color: #dfe6e9;
	height: stretch;
}

.centered {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section {
	background-color: white;
	border: solid 1px #5485965d;
	border-radius: 5px;
	padding: 26px;
}

form, fieldset {
	display: flex;
	flex-direction: column;
	gap: 20px;
	border: none;
	padding: 0;
}

fieldset {
	padding-block: 20px;
}

fieldset *, #login-form {
	width: 400px;
}

fieldset legend {
	background-color: #5485965d;
	border-radius: 2px;
	padding: 5px 10px;
	width: stretch;
}

.form-field {
	display: flex;
	flex-direction: column;
	gap: 3px;
	text-align: left;
}

.form-input-text {
	border: solid 1px #5485969a;
	border-radius: 2px;
	padding: 5px;
}

.form-input-text:focus {
	outline: none;
	border-color: #436a77;
}

.btn {
	transition: 100ms;
	padding: 10px;
	padding-inline: 20px;

	background-color: #548696;
	
	border: none;
	border-radius: 2px;

	color: white;
}

.btn:hover {
	transition: 100ms;
	cursor: pointer;
	background-color: #436a77;
}

.cancel-btn {
	background-color: #00000000;
	color: #548696;
}

.cancel-btn:hover {
	cursor: pointer;
	background-color: #00000000;
	color: #548696;
}

.login-section {
	display: flex;
	justify-content: center;
}

.message {
	color: red;
	background-color: #ff000022;
	padding: 5px;
	border-radius: 2px;
}