{% extends "base.html" %}
{% load static %}

{% block title %}{{ workspace_name }}{% endblock title %}
{% block page_title %}{{ workspace_name }}{% endblock page_title %}

{% block header %}
<meta name="csrf-token" content="{{ csrf_token }}"/>
{% endblock header %}

{% block content %}
<div>
	<a class="btn" href="create">Создать проект</a>
	<a class="btn" href="users">Пользователи</a>
</div>
{% for project in projects %}
<section class="project-card">
	<div class="project-card-body">
		<h2>{{ project.name }}</h2>
		<span>Описание проекта:</span>
		<pre>{{ project.description }}</pre>
		<span>Заказчик: <b>{% if project.customer.name %}{{ project.customer.name }}{% else %}{{ project.customer.customer_name }}{% endif %}</b></span>
		<span>Крайний срок: <b>{{ project.deadline }}</b></span>
		<span>Количество используемых ресурсов: <b>{{ project.resources.count }}</b></span>
		<span>Себестоимость: <b>{{ project.calculate_cost|floatformat:2 }} руб.</b></span>
		<span>Стоимость с маржинальностью: <b>{{ project.calculate_cost_with_marginality|floatformat:2 }} руб.</b></span>
		<span>Чистая прибыль: <b>{{ project.calculate_profit|floatformat:2 }} руб.</b></span><br>
		<spab class="project-cost">Итого: {{ project.calculate_total|floatformat:2 }} руб.</span>
	</div>
	<div class="project-card-btns">
		<a class="btn" href="{{ project.id }}/resources">Ресурсы</a>
		<a class="btn btn-white" href="{{ project.id }}/edit">Изменить</a>
		<a class="btn btn-white" href="{{ project.id }}/delete">Удалить</a>
	</div>
</section>
{% endfor %}
{% endblock content %}