{% extends "base.html" %}

{% load static %}

{% block title %}Рабочие области{% endblock title %}
{% block page_title %}Рабочие области{% endblock page_title %}

{% block content %}
<div class="workspaces">
	{% for workspace in workspaces %}
	<section class="workspace-card">
		<h2 class="workspace-card-header" data-slug="{{ workspace.slug }}">{{ workspace.name }}</h2>
		<span>Проектов: {{ workspace.workspace_projects.count }}</span>
		<div class="workspaces-toolbar">
			<a href="{{ workspace.slug }}/edit">Изменить</a>
			<a href="{{ workspace.slug }}/delete">Удалить</a>
		</div>
	</section>
	{% endfor %}
	<section class="add-workspace-btn">
		<h2><a href="/create">Создать рабочую область</a></h2>
	</section>
</div>
{% endblock content %}

{% block footer %}
<script src="{% static "js/workspaces.js" %}"></script>
{% endblock footer %}
