{% extends "base.html" %}

{% load static %}

{% block title %}{{ workspace_name }} - Пользователи{% endblock title %}
{% block page_title %}{{ workspace_name }} - Пользователи{% endblock page_title %}

{% block header %}
<meta name="csrf-token" content="{{ csrf_token }}"/>
{% endblock header %}

{% block content %}
<section>
	<div class="toolbar">
		<a id="btn-create" href="add">Добавить</a>
		<a class="disabled toolbar-btn toolbar-btn-any" id="btn-delete">Удалить</a>
	</div>
	<table>
		<tr class="table-header">
			<th><input id="select-all-checkbox" type="checkbox"/></th>
			<th>Имя</th>
			<th>Адрес эл. почты</th>
		</tr>

		{% for ws_perm in ws_perms %}
		<tr class="{% if forloop.counter|divisibleby:2 %}tr-even{% else %}tr-odd{% endif %}">
			<td><input class="field-checkbox" type="checkbox" data-id="{{ ws_perm.id }}"/></td>
			<td>{{ ws_perm.user.username }}</td>
			<td>{{ ws_perm.user.email }}</td>
		</tr>
		{% endfor %}	
	</table>
</section>
{% endblock content %}

{% block footer %}
<script src="{% static 'js/table-toolbar.js' %}"></script>
{% endblock footer %}