{% extends "base.html" %}

{% load static %}

{% block title %}Рабочие области{% endblock title %}
{% block page_title %}Рабочие области{% endblock page_title %}

{% block header %}
<meta name="csrf-token" content="{{ csrf_token }}"/>
{% endblock header %}

{% block content %}
<div class="workspaces">
	{% for workspace in workspaces %}
	<section class="workspace-card" data-slug="{{ workspace.slug }}">
		<h2 class="workspace-card-header">{{ workspace.name }}</h2>
		<span>Проектов: {{ workspace.workspace_projects.count }}</span>
		<span>Администратор: {{ workspace.admin }}</span>
		{% if workspace.admin == user %}
		<div class="workspaces-toolbar">
			<a href="{{ workspace.slug }}/edit">Изменить</a>
			<a href="{{ workspace.slug }}/delete">Удалить</a>
		</div>
		{% endif %}
	</section>
	{% endfor %}
	{% if perms.workspace.add_workspace %}
	<section class="add-workspace-btn">
		<h2><a href="/create">Создать рабочую область</a></h2>
	</section>
	{% endif %}
</div>
{% endblock content %}

{% block footer %}
<script src="{% static "js/workspaces.js" %}"></script>
{% endblock footer %}
